# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\pdbar\Downloads\CodeGymTasks\4.JavaCollections\src\com\codegym\task\task26\task2613\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
